{% if user2 %}
    Профиль:
    <div>
    <div>{{ user2.get_full_name }}</div>
    <div>День рождения {{ user2.profile.birth_day }}</div>
    </div>
     посты {{ user2.username  }}({{ user2.post_set.all|length }}):
<ul>
    {% for post in user2.post_set.all %}
        <li><a href="{% url 'post' post.id %}">{{ post.title }}</a>
            <div>
                {{ post.body }}
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
Ваши посты({{ user.post_set.all|length }}):
<ul>
    {% for post in user.post_set.all %}
        <li><a href="{% url 'post' post.id %}">{{ post.title }}</a>
            <div>
                {{ post.body }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endif %}